body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  margin-bottom: 0;
  background-color: #eeeeee;
}

.main-header .container {
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 760px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-navigation {
  max-width: 160px;
  display: flex;
}

.user-navigation .basket-link {
  position: relative;
  padding-left: 50px;
}

.basket-link::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 30px;
  width: 18px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  display: block;
  padding: 25px 22px;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-container {
  background-color: #ffffff;
}

.slider .container {
  background-color: #eeeeee;
}

.slider {
  background-color: #eeeeee;
  min-height: 200px;
  margin-bottom: 80px;
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item-button {
  width: 240px;
  padding: 13px 0;
  background-color: #fb565a;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  transform: translateX(-50%);
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
}

.slider-controls i {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slider-controls i::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.services {
  margin-bottom: 160px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  width: 300px;
  margin-right: 100px;
}

.services-item img {
  margin-bottom: 27px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  padding-left: 10px;
}

.button {
  display: block;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.services-button {
  width: 160px;
  padding: 13px 0;
}

.services-button-red {
  background-color: #fb565a;

}

.services-button-red:hover,
.services-button-red:focus {
  background-color: #e74246;
}

.services-button-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services-button-green {
  background-color: #00ca74;
}

.services-button-green:hover,
.services-button-green:focus {
  background-color: #00bc6c;
}

.services-button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services-button-yellow {
  background-color: #efc84a;
}

.services-button-yellow:hover,
.services-button-yellow:focus {
  background-color: #eab534;
}

.services-button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}

.about-us-column-left {
  width: 660px;
}

.about-us-column-right {
  width: 360px;
}

.about-us b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  background-color: #ffffff;
  display: block;
  margin-bottom: 44px;
}

.about-us .description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.about-us .list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 32px;
}

.about-us-services-list {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.about-us-column-right img {
  margin-bottom: 36px;
}

.table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 36px;
  padding-left: 10px;
}

.line-number {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.line-number sup {
  font-size: 28px;
}

.line-number td {
  padding-right: 25px;
}

.line-text td {
  padding-right: 30px;
}

.line-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  display: block;
}

.portfolio {
  margin-bottom: 130px;
}

.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.portfolio a {
  opacity: 0.2;
}

.portfolio a:hover,
.portfolio a:focus {
  opacity: 1;
}

.portfolio a:active {
  opacity: 0.1;
}

.contacts {
  width: 320px;
  padding: 50px;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.contacts .address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #ffffff;
  margin-bottom: 22px;
}

.contacts .phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.contacts .button {
  background-color: #fb565a;
  padding: 13px 42px;
}

.contacts .button:hover,
.contacts .button:focus {
  background-color: #e74246;
}

.contacts .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-footer {
  margin-top: 70px;
  margin-bottom: 70px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-item {
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

.social-button {
  color: #000000;
  background-color: #e1e1e1;
  display: block;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  opacity: 0.3;
}

.action {
  width: 760px;
}

.action b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.action p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.communication-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.communication-form input,
.communication-form textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68 ,68, 0.5);
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.communication-form input:hover,
.communication-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.communication-form input:focus,
.communication-form textarea:focus {
  border: 2px solid #000000;
  color: rgba(68, 68 , 68, 1);
}

.communication-form input:invalid,
.communication-form textarea:invalid {
  border: 2px solid #e74246;
  color: rgba(231, 66 , 70, 1);
}

.modal-button {
  background-color: #fb565a;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #e74246;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.wrapper-title {
  background-color: #eeeeee;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  margin: 0;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
}

.catalog-column-right {
  width: 760px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

/* range */
.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar  {
  width: 2px;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  font: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #283136;
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.filter-button {
  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sorting-item-current a {
  color: #000000;
  opacity: 1;
}

.catalog {
  margin-bottom: 60px;
}
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-item {
  box-shadow: inset 0 0 0 1px rgba(0, 1, 1, 0.1);
  width: 360px;
  margin-bottom: 30px;
}

.catalog-item:hover {
  box-shadow: inset 0 0 0 1px rgba(77, 77, 77, 0.1),
  0 0 15px 6px rgba(0, 1, 1, 0.25);
}

.catalog-item a {
  color: #000000;
  background-color: #eeeeee;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #eeeeee;
}

.catalog-item .button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
}

.catalog-item .button:hover,
.catalog-item .button:focus {
  background-color: #e74246;
}

.catalog-item .button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #ffffff;
}

.back-communication {
  display: none;
}